<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<title>{{document.title}} | {{messages.siteName}}</title>
<link rel="icon" type="image/png" href="{{{getRelativeUrl '/images/icons/favico.png' document.url}}}" />

<link rel="stylesheet" href="{{{getRelativeUrl '/lib/infusion/src/lib/normalize/css/normalize.css' document.url}}}" />
<link rel="stylesheet" href="{{{getRelativeUrl '/lib/foundation/foundation-flex.min.css' document.url}}}" />

<link rel="stylesheet" type="text/css" href="{{{getRelativeUrl '/lib/infusion/src/framework/preferences/css/Enactors.css' document.url}}}" />
<link rel="stylesheet" type="text/css" href="{{{getRelativeUrl '/lib/infusion/src/framework/preferences/css/PrefsEditor.css' document.url}}}" />
<link rel="stylesheet" type="text/css" href="{{{getRelativeUrl '/lib/infusion/src/framework/preferences/css/SeparatedPanelPrefsEditor.css' document.url}}}" />
<link rel="stylesheet" type="text/css" href="{{{getRelativeUrl '/css/docs-template.css' document.url}}}" />

<script type="text/javascript" src="{{{getRelativeUrl '/lib/infusion/infusion-all.js' document.url}}}"></script>
<script type="text/javascript" src="{{{getRelativeUrl '/lib/foundation/foundation.min.js' document.url}}}"></script>
<script type="text/javascript" src="{{{getRelativeUrl '/js/sidebar.js' document.url}}}"></script>
